docs/n8n/ficct-invoice-workflow.json
{
  "name": "FICCT Boutique Invoice Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ficct-invoice",
        "responseMode": "onReceived",
        "options": {
          "rawBody": true,
          "responseData": "{\"status\":\"accepted\"}"
        }
      },
      "id": "5c8f266f-41a8-4ced-b4e4-778d04c04743",
      "name": "Webhook sale.confirmed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "ficct-invoice"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\n\nconst secret = $env.WEBHOOK_HMAC_SECRET;\nif (!secret) {\n  throw new Error('WEBHOOK_HMAC_SECRET env var is not set');\n}\n\nconst input = $input.first();\nconst headers = input.json.headers || {};\nconst signatureHeader = headers['x-ficct-signature'] || headers['X-FICCT-Signature'];\nif (!signatureHeader) {\n  throw new Error('Missing x-ficct-signature header');\n}\n\nif (!input.binary?.data) {\n  throw new Error('Webhook raw body is missing; enable Raw Body on the Webhook node');\n}\n\nconst rawBody = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst expected = 'sha256=' + crypto\n  .createHmac('sha256', secret)\n  .update(rawBody)\n  .digest('hex');\n\nconst actualBuffer = Buffer.from(String(signatureHeader), 'utf8');\nconst expectedBuffer = Buffer.from(expected, 'utf8');\nif (actualBuffer.length !== expectedBuffer.length || !crypto.timingSafeEqual(actualBuffer, expectedBuffer)) {\n  throw new Error('Invalid FICCT webhook signature');\n}\n\nlet payload;\ntry {\n  payload = JSON.parse(rawBody.toString('utf8'));\n} catch (error) {\n  throw new Error('Webhook body is not valid JSON: ' + error.message);\n}\n\nconst required = [\n  ['event', payload.event],\n  ['sale_id', payload.sale_id],\n  ['order_id', payload.order_id],\n  ['order_code', payload.order_code],\n  ['items', payload.items],\n  ['total', payload.total],\n  ['currency', payload.currency],\n  ['branch_id', payload.branch_id],\n  ['confirmed_at', payload.confirmed_at],\n  ['customer.email', payload.customer?.email],\n  ['customer.name', payload.customer?.name],\n];\n\nconst missing = required\n  .filter(([name, value]) => value === undefined || value === null || value === '' || (name === 'items' && (!Array.isArray(value) || value.length === 0)))\n  .map(([name]) => name);\n\nif (payload.event !== 'sale.confirmed') {\n  throw new Error('Unsupported event: ' + payload.event);\n}\n\nif (missing.length) {\n  throw new Error('Missing required invoice payload field(s): ' + missing.join(', '));\n}\n\nreturn [{\n  json: {\n    ...payload,\n    webhook_event_id: headers['x-ficct-event-id'] || headers['X-FICCT-Event-Id'] || null,\n    raw_body_sha256: crypto.createHash('sha256').update(rawBody).digest('hex'),\n  },\n}];"
      },
      "id": "5d093633-cba5-48e5-85b5-7df75eedf392",
      "name": "Validate HMAC and Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function esc(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction money(value) {\n  const number = Number(value || 0);\n  return number.toLocaleString('es-BO', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction itemField(item, snake, pascal) {\n  return item?.[snake] ?? item?.[pascal] ?? '';\n}\n\nconst payload = $input.first().json;\nconst orderCode = payload.order_code;\nconst invoiceFileBase = 'factura-' + String(orderCode).replace(/[^A-Za-z0-9_-]/g, '-').toLowerCase();\nconst invoiceFilename = invoiceFileBase + '.pdf';\nconst issuedAt = new Date(payload.confirmed_at).toLocaleString('es-BO', {\n  timeZone: 'America/La_Paz',\n  dateStyle: 'medium',\n  timeStyle: 'short',\n});\n\nconst rows = payload.items.map((item, index) => {\n  const variantId = itemField(item, 'variant_id', 'VariantID');\n  const quantity = itemField(item, 'quantity', 'Quantity');\n  const unitPrice = itemField(item, 'unit_price', 'UnitPrice');\n  const lineTotal = itemField(item, 'line_total', 'LineTotal');\n  return '<tr>' +\n    '<td>' + (index + 1) + '</td>' +\n    '<td><strong>Variante</strong><br><span>' + esc(variantId) + '</span></td>' +\n    '<td class=\"num\">' + esc(quantity) + '</td>' +\n    '<td class=\"num\">' + money(unitPrice) + '</td>' +\n    '<td class=\"num\">' + money(lineTotal) + '</td>' +\n  '</tr>';\n}).join('');\n\nconst html = [\n  '<!doctype html>',\n  '<html lang=\"es\">',\n  '<head>',\n  '  <meta charset=\"utf-8\">',\n  '  <title>Factura ' + esc(orderCode) + ' - FICCT Boutique</title>',\n  '  <style>',\n  '    @page { size: A4; margin: 22mm 18mm; }',\n  '    * { box-sizing: border-box; }',\n  '    body { color: #1f2933; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 1.45; margin: 0; }',\n  '    .top { align-items: flex-start; border-bottom: 2px solid #22304a; display: flex; justify-content: space-between; padding-bottom: 18px; }',\n  '    .brand { font-size: 24px; font-weight: 700; letter-spacing: 0; }',\n  '    .subtitle { color: #52606d; margin-top: 4px; }',\n  '    .invoice { text-align: right; }',\n  '    .invoice h1 { font-size: 22px; margin: 0 0 6px; }',\n  '    .meta { display: grid; gap: 14px; grid-template-columns: 1fr 1fr; margin: 22px 0; }',\n  '    .box { border: 1px solid #d9e2ec; border-radius: 6px; padding: 14px; }',\n  '    .label { color: #52606d; font-size: 11px; font-weight: 700; text-transform: uppercase; }',\n  '    .value { margin-top: 3px; }',\n  '    table { border-collapse: collapse; margin-top: 18px; width: 100%; }',\n  '    th { background: #22304a; color: #ffffff; font-size: 12px; padding: 9px; text-align: left; }',\n  '    td { border-bottom: 1px solid #e4e7eb; padding: 9px; vertical-align: top; }',\n  '    .num { text-align: right; white-space: nowrap; }',\n  '    .total { display: flex; justify-content: flex-end; margin-top: 18px; }',\n  '    .total-box { border-top: 2px solid #22304a; min-width: 260px; padding-top: 10px; }',\n  '    .total-row { display: flex; font-size: 18px; font-weight: 700; justify-content: space-between; }',\n  '    .foot { color: #52606d; font-size: 11px; margin-top: 28px; }',\n  '  </style>',\n  '</head>',\n  '<body>',\n  '  <section class=\"top\">',\n  '    <div>',\n  '      <div class=\"brand\">FICCT Boutique</div>',\n  '      <div class=\"subtitle\">Factura generada automaticamente</div>',\n  '    </div>',\n  '    <div class=\"invoice\">',\n  '      <h1>Factura</h1>',\n  '      <div><strong>' + esc(orderCode) + '</strong></div>',\n  '      <div>' + esc(issuedAt) + '</div>',\n  '    </div>',\n  '  </section>',\n  '',\n  '  <section class=\"meta\">',\n  '    <div class=\"box\">',\n  '      <div class=\"label\">Cliente</div>',\n  '      <div class=\"value\">' + esc(payload.customer.name) + '</div>',\n  '      <div class=\"value\">' + esc(payload.customer.email) + '</div>',\n  '    </div>',\n  '    <div class=\"box\">',\n  '      <div class=\"label\">Venta y pedido</div>',\n  '      <div class=\"value\">Venta: ' + esc(payload.sale_id) + '</div>',\n  '      <div class=\"value\">Pedido: ' + esc(payload.order_id) + '</div>',\n  '      <div class=\"value\">Sucursal: ' + esc(payload.branch_id) + '</div>',\n  '    </div>',\n  '  </section>',\n  '',\n  '  <table>',\n  '    <thead>',\n  '      <tr>',\n  '        <th>#</th>',\n  '        <th>Articulo</th>',\n  '        <th class=\"num\">Cantidad</th>',\n  '        <th class=\"num\">Precio unitario</th>',\n  '        <th class=\"num\">Importe</th>',\n  '      </tr>',\n  '    </thead>',\n  '    <tbody>' + rows + '</tbody>',\n  '  </table>',\n  '',\n  '  <section class=\"total\">',\n  '    <div class=\"total-box\">',\n  '      <div class=\"total-row\">',\n  '        <span>Total</span>',\n  '        <span>' + money(payload.total) + ' ' + esc(payload.currency) + '</span>',\n  '      </div>',\n  '    </div>',\n  '  </section>',\n  '',\n  '  <div class=\"foot\">',\n  '    Este documento fue generado automaticamente por FICCT Boutique al confirmar la venta.',\n  '  </div>',\n  '</body>',\n  '</html>',\n].join('\\n');\n\nconst htmlBinary = await this.helpers.prepareBinaryData(Buffer.from(html, 'utf8'), 'index.html', 'text/html');\n\nreturn [{\n  json: {\n    ...payload,\n    invoice_html: html,\n    invoice_file_base: invoiceFileBase,\n    invoice_filename: invoiceFilename,\n    invoice_issued_at: issuedAt,\n  },\n  binary: {\n    html: htmlBinary,\n  },\n}];"
      },
      "id": "a2247df2-e298-4719-ae69-cdad9f74c365",
      "name": "Build Invoice HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.GOTENBERG_URL}}/forms/chromium/convert/html",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Gotenberg-Output-Filename",
              "value": "={{$json.invoice_file_base}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          }
        }
      },
      "id": "71a8dd8e-0a8f-4d31-9e7c-86f23fb0861a",
      "name": "Generate PDF with Gotenberg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\n\nconst item = $input.first();\nif (!item.binary?.pdf) {\n  throw new Error('Gotenberg did not return binary PDF data in field \"pdf\"');\n}\n\nconst pdf = await this.helpers.getBinaryDataBuffer(0, 'pdf');\nif (pdf.length < 100 || pdf.subarray(0, 4).toString('utf8') !== '%PDF') {\n  throw new Error('Generated file is not a valid PDF');\n}\n\nconst binary = { ...item.binary };\ndelete binary.html;\nbinary.pdf = {\n  ...binary.pdf,\n  fileName: item.json.invoice_filename,\n  mimeType: 'application/pdf',\n};\n\nconst pdfSha256 = crypto.createHash('sha256').update(pdf).digest('hex');\nconst pdfSizeBytes = pdf.length;\nconst documentTitle = 'Factura ' + item.json.order_code + ' - FICCT Boutique';\nconst serviceEmail = $env.FICCT_N8N_SERVICE_EMAIL;\nconst servicePassword = $env.FICCT_N8N_SERVICE_PASSWORD;\nif (!serviceEmail || !servicePassword) {\n  throw new Error('FICCT_N8N_SERVICE_EMAIL/PASSWORD env vars are not set');\n}\nconst loginRequest = {\n  query: 'mutation Login($input: LoginInput!) { login(input: $input) { accessToken } }',\n  variables: {\n    input: {\n      email: serviceEmail,\n      password: servicePassword,\n    },\n  },\n};\nconst uploadRequest = {\n  title: documentTitle,\n  description: 'Factura generada automaticamente para pedido ' + item.json.order_code,\n  category: 'pdf',\n  mimeType: 'application/pdf',\n  sizeBytes: pdfSizeBytes,\n  metadata: {\n    event: item.json.event,\n    saleId: item.json.sale_id,\n    orderId: item.json.order_id,\n    orderCode: item.json.order_code,\n    branchId: item.json.branch_id,\n    customer: item.json.customer,\n    pdfSha256,\n  },\n};\n\nreturn [{\n  json: {\n    ...item.json,\n    pdf_sha256: pdfSha256,\n    pdf_size_bytes: pdfSizeBytes,\n    document_title: documentTitle,\n    go_login_json: JSON.stringify(loginRequest),\n    ms3_upload_json: JSON.stringify(uploadRequest),\n    ms3_confirm_json: JSON.stringify({ sha256: pdfSha256 }),\n  },\n  binary,\n}];"
      },
      "id": "9eb0edfb-db7c-4b76-a82c-21e4715f6c1b",
      "name": "Compute PDF SHA-256",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.GO_CORE_GRAPHQL_URL}}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.go_login_json}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "94c1e808-b5de-4041-8b10-3fa0ea4906bc",
      "name": "Login Go Service Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "deepMerge",
              "overrideEmpty": false
            }
          }
        }
      },
      "id": "42c0d1b2-8452-4e13-8d86-7dd533a5f4d8",
      "name": "Merge PDF and Login",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nconst token = item.json.data?.login?.accessToken;\nif (!token) {\n  throw new Error('Go service account login did not return data.login.accessToken');\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    access_token: token,\n  },\n  binary: item.binary,\n}];"
      },
      "id": "450a3a0a-3d46-4129-b21b-dfcfd3b5e2ee",
      "name": "Extract Access Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EXPRESS_DOCS_URL}}/api/v1/documents/upload-request",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.access_token}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.ms3_upload_json}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c8e1557e-8ca2-4991-b632-8dd54df370d1",
      "name": "MS3 Upload Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "deepMerge",
              "overrideEmpty": false
            }
          }
        }
      },
      "id": "59da092c-aa7b-4c6c-9344-ed423b453652",
      "name": "Merge Upload Request",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2340,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.upload.url}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify($json.upload.headers || {'Content-Type':'application/pdf'})}}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "put_response"
            }
          }
        }
      },
      "id": "f4a59a16-483b-46f8-9850-7495b60b7bd6",
      "name": "PUT PDF to Presigned URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "deepMerge",
              "overrideEmpty": false
            }
          }
        }
      },
      "id": "cfc88206-77bc-4ecf-b031-6a343d312c29",
      "name": "Merge PUT Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2860,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EXPRESS_DOCS_URL + '/api/v1/documents/' + $json.document.id + '/confirm'}}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.access_token}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.ms3_confirm_json}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b38c760a-db29-4b53-a57f-6d4678d86f92",
      "name": "MS3 Confirm Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nif (!item.json.document?.id) {\n  throw new Error('MS3 confirm response did not include document.id');\n}\nreturn [{\n  json: {\n    confirmed_document: item.json.document,\n  },\n  binary: item.binary,\n}];"
      },
      "id": "0a447b3a-93f2-4be1-8490-77b6edc156b4",
      "name": "Normalize Confirm Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "deepMerge",
              "overrideEmpty": false
            }
          }
        }
      },
      "id": "9f7a3c70-b860-4da4-aa15-8b2df8e78b3f",
      "name": "Merge Confirm Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3380,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.EXPRESS_DOCS_URL + '/api/v1/documents/' + $json.document.id + '/verify'}}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.access_token}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "30658724-ff48-4b7d-bcd4-3a42c4b5cbfe",
      "name": "MS3 Verify Hash Ledger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nif (!item.json.document?.id) {\n  throw new Error('MS3 verify response did not include document.id');\n}\nreturn [{\n  json: {\n    verified_document: item.json.document,\n    intact: item.json.intact,\n    chainIntact: item.json.chainIntact,\n    storedSha: item.json.storedSha,\n    currentSha: item.json.currentSha,\n    brokenAt: item.json.brokenAt ?? null,\n  },\n  binary: item.binary,\n}];"
      },
      "id": "818574d8-2a3e-4610-9d72-ddbb2c793341",
      "name": "Normalize Verify Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3780,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "deepMerge",
              "overrideEmpty": false
            }
          }
        }
      },
      "id": "889f7dd4-3fa8-49c4-87bb-bbfddca9c555",
      "name": "Merge Verify Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3900,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nif (item.json.intact !== true || item.json.chainIntact !== true) {\n  throw new Error('MS3 hash ledger verification failed for invoice document');\n}\nif (item.json.verified_document?.status !== 'active') {\n  throw new Error('MS3 invoice document is not active after confirmation');\n}\nif (!item.binary?.pdf) {\n  throw new Error('Invoice PDF binary is missing before email send');\n}\nif (!item.json.customer?.email) {\n  throw new Error('Missing customer.email before email send');\n}\n\nconst emailHtml = [\n  '<p>Hola ' + item.json.customer.name + ',</p>',\n  '<p>Adjuntamos la factura de tu pedido <strong>' + item.json.order_code + '</strong> en FICCT Boutique.</p>',\n  '<p><strong>Total:</strong> ' + Number(item.json.total).toFixed(2) + ' ' + item.json.currency + '</p>',\n  '<p>Gracias por tu compra.</p>',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...item.json,\n    email_subject: 'Factura ' + item.json.order_code + ' - FICCT Boutique',\n    email_html: emailHtml,\n  },\n  binary: item.binary,\n}];"
      },
      "id": "b9f7f6ac-cef7-4e94-98b9-ed6c86c59f59",
      "name": "Prepare Invoice Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        0
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "={{$env.FICCT_INVOICE_FROM_EMAIL}}",
        "toEmail": "={{$json.customer.email}}",
        "subject": "={{$json.email_subject}}",
        "emailFormat": "html",
        "html": "={{$json.email_html}}",
        "options": {
          "attachments": "pdf",
          "appendAttribution": false
        }
      },
      "id": "3a7489a3-57dc-4fb5-aa4a-cd084bc0210b",
      "name": "Send Invoice Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4420,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "ficct-mailpit-smtp",
          "name": "FICCT Mailpit SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook sale.confirmed": {
      "main": [
        [
          {
            "node": "Validate HMAC and Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC and Payload": {
      "main": [
        [
          {
            "node": "Build Invoice HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Invoice HTML": {
      "main": [
        [
          {
            "node": "Generate PDF with Gotenberg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF with Gotenberg": {
      "main": [
        [
          {
            "node": "Compute PDF SHA-256",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute PDF SHA-256": {
      "main": [
        [
          {
            "node": "Login Go Service Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge PDF and Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Go Service Account": {
      "main": [
        [
          {
            "node": "Merge PDF and Login",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF and Login": {
      "main": [
        [
          {
            "node": "Extract Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Access Token": {
      "main": [
        [
          {
            "node": "MS3 Upload Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Upload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MS3 Upload Request": {
      "main": [
        [
          {
            "node": "Merge Upload Request",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Upload Request": {
      "main": [
        [
          {
            "node": "PUT PDF to Presigned URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge PUT Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT PDF to Presigned URL": {
      "main": [
        [
          {
            "node": "Merge PUT Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PUT Result": {
      "main": [
        [
          {
            "node": "MS3 Confirm Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Confirm Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MS3 Confirm Upload": {
      "main": [
        [
          {
            "node": "Normalize Confirm Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Confirm Result": {
      "main": [
        [
          {
            "node": "Merge Confirm Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Confirm Result": {
      "main": [
        [
          {
            "node": "MS3 Verify Hash Ledger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Verify Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MS3 Verify Hash Ledger": {
      "main": [
        [
          {
            "node": "Normalize Verify Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Verify Result": {
      "main": [
        [
          {
            "node": "Merge Verify Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Verify Result": {
      "main": [
        [
          {
            "node": "Prepare Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Invoice Email": {
      "main": [
        [
          {
            "node": "Send Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d595ed26-8686-4ff9-850c-c39bf36a7831d",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "ficct-invoice-workflow",
  "tags": []
}
